In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.simplefilter('ignore')
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('imdb.csv')
df.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

In [4]:
df.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

1. imdb_id - идентификатор фильма в базе данных IMDB
2. popularity - рейтинг популярности фильма
3. budget - бюджет фильма
4. revenue - доход, который принес фильм
5. original_title - оригинальное название
6. cast - актерский состав фильма
7. director - режиссер фильма
8. tagline - слоган фильма
9. overview - краткое содержание фильма
10. runtime - продолжительность фильма (в минутах)
11. genres - жанры фильма
12. production_companies - киностудии, участвующие в производстве фильма
13. release_date - дата выхода фильма в прокат
14. vote_count - количество голосов
15. vote_average - рейтинг фильма
16. release_year - год выхода (релиза) фильма

In [5]:
df.shape

(1890, 16)

### 1. У какого фильма из списка самый большой бюджет?

In [6]:
df[df.budget == df.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [7]:
df.budget.max()

425000000

### 2. Средняя длительность фильма?

In [8]:
df.runtime.mean()

109.65343915343915

### 3. Самый длинный слоган фильма?

In [9]:
test_df = df.copy()
test_df['tagline_length'] = test_df.tagline.apply(lambda x: len(x))
test_df[test_df.tagline_length == test_df.tagline_length.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,tagline_length
915,tt0268126,0.898884,19000000,32801173,Adaptation.,Nicolas Cage|Meryl Streep|Chris Cooper|Tilda S...,Spike Jonze,Charlie Kaufman writes the way he lives... Wit...,A love-lorn script writer grows increasingly d...,114,Comedy|Crime|Drama,Columbia Pictures|Beverly Detroit|Propaganda F...,12/6/2002,319,7.2,2002,286

### 4. Сколько всего фильмов в прибыли?

In [10]:
len(pd.Series([x - y for x,y in zip(df.revenue,df.budget) if x - y > 0]))

1478

### 5. Самый убыточный фильм за период с 2012 по 2014 (включительно)?

In [11]:
test_df = df.copy()
test_df['cost_dif'] = df.revenue - df.budget
new_test_df = test_df[(2012 <= test_df.release_year) & (test_df.release_year <= 2014)]
new_test_df[new_test_df.cost_dif == new_test_df.cost_dif.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,cost_dif
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

### 6. Какого жанра фильмов больше всего?

In [12]:
from numpy import array
from pandas.core.common import flatten

In [13]:
genres_list = array([x.split('|') for x in df.genres]).flat
genres_set = set(flatten(genres_list))
genres_set

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'Thriller',
 'War',
 'Western'}

In [14]:
test_df = df.copy()

def true_or_false(x):
    global i 
    if i in x.split('|'):
        return 1
    else:
        return 0
for i in genres_set:
    test_df[i] = test_df['genres'].apply(true_or_false)
    
test_df.drop(['genres'], axis = 1, inplace = True)

test_df[test_df.columns[17:]].sum().sort_values(ascending = False).head(1)

Drama    782
dtype: int64

### 7. Какие фильмы входят в 1 процент лучших по рейтингу?

In [15]:
df[df.vote_average > df.vote_average.quantile(0.99)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014
119,tt2015381,14.311205,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,5612,7.9,2014
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014
128,tt2267998,6.438727,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,3720,7.9,2014
138,tt2278388,4.930820,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,2802,7.9,2014
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008
873,tt0253474,2.364204,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,938,7.9,2002
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1184,tt0993846,4.877927,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,4027,7.9,2013
1192,tt2024544,3.625529,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,2241,7.9,2013
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000

### 8. Какие актеры чаще всего снимаются в одном фильме вместе

In [16]:
actors_list = array([x.split('|') for x in df.cast]).flat

pairs_set = set()

for i in actors_list:
    for n in i:
        for y in i:
            if y == n:
                continue
            else:
                if ((n,y) in pairs_set) or ((y,n) in pairs_set):
                    continue
                else:
                    pairs_set.add((n,y))
                    
pairs_dict = {x:0 for x in pairs_set}

for i in pairs_dict:
    for n in df.cast:
        if (i[0] in n.split('|')) and (i[1] in n.split('|')):
            pairs_dict[i] += 1

In [17]:
lst = []
for i, v in pairs_dict.items():
    if v == max(pairs_dict.values()):
        lst.append(i)
lst

[('Daniel Radcliffe', 'Emma Watson'),
 ('Daniel Radcliffe', 'Rupert Grint'),
 ('Rupert Grint', 'Emma Watson')]

In [18]:
pd.Series(pairs_dict).sort_values(ascending = False).head(5)

Daniel Radcliffe  Rupert Grint            8
                  Emma Watson             8
Rupert Grint      Emma Watson             8
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
dtype: int64

### 9. Какая студия заработала больше всего денег в жанре комедий за все время?

In [19]:
comedy_df = df.copy()

def comedy_or_not(x):
    if 'Comedy' in x.split('|'):
        return 1
    else: 
        return 0

comedy_df['genres'] = comedy_df['genres'].apply(comedy_or_not)
comedy_df.rename(columns = {'genres':'comedy'}, inplace = True) 
comedy_df = comedy_df[comedy_df.comedy > 0]
comedy_df['profit'] = comedy_df.revenue - comedy_df.budget

revenue_dict = {}

for companies, profit in zip(comedy_df.production_companies, comedy_df.profit):
    for comp in companies.split('|'):
        try:
            revenue_dict[comp] += round(profit/len(companies.split('|')))
        except:
            revenue_dict[comp] = round(profit/len(companies.split('|')))

In [20]:
pd.Series(revenue_dict).sort_values(ascending = False).head(5)

Walt Disney Pictures                      3660158307
Universal Pictures                        3459196020
DreamWorks Animation                      3145966021
Columbia Pictures                         2227535623
Twentieth Century Fox Film Corporation    2118873640
dtype: int64

### 10. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?

In [135]:
winter_months = ['Jan','Feb', 'Dec']
test_df = df.copy()
test_df['release_month'] = pd.to_datetime(test_df['release_date'], infer_datetime_format = True).dt.strftime('%b')
director_df = test_df.groupby(['director','release_month'],as_index = False)['imdb_id'].count()
director_df.rename(columns = {'imdb_id':'quantity'}, inplace = True)

counter = 0
second_director_list = []
counter_list = []

def two_to_one_director(x):
    global counter, second_director_dict
    if '|' in x:
        counter += 1
        counter_list.append(counter)
        second_director_list.append(x.split('|')[1])
        return_var = x.split('|')[0]
        return return_var
    else:
        counter += 1
        return x

director_df['director'] = director_df['director'].apply(two_to_one_director)

for director, index in zip(second_director_list, counter_list):
    month = director_df.loc[index][1]
    quantity = director_df.loc[index][2]
    director_df.loc[len(director_df.quantity)] = [director, month, quantity]
    
final_director_df = pd.concat([director_df[(director_df.release_month == 'Jan')], \
                              director_df[(director_df.release_month == 'Feb')], \
                              director_df[(director_df.release_month == 'Dec')]])

final_director_df.groupby('director')['quantity'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    7
Name: quantity, dtype: int64